//----- calculator container
.calculator {
  //   margin-top: 10rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  background-color: #333;
  padding-bottom: 0.3rem;
  width: 94%;
  height: 70vh;
  display: flex;
  flex-direction: column;

  //----- display
  .calculator__display {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem 1rem 2rem 1rem;
    font-size: 4.5rem;
    border-bottom: 0.3rem solid #13b1fa;
  }

  //----- functional keys
  .calculator__function__keys--row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 7rem;
    // margin-top: 0.1rem;
    padding: 0.1rem 0.15rem;
    padding-bottom: 0;

    &.first {
      margin-top: 0.15rem;
    }

    //----- single key
    .calculator__key {
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: bold;
      outline: none;
      cursor: pointer;
      font-size: 1.5rem;
      padding: 1.5rem;
      height: auto;
      width: 24%;
      // margin-left: 0.1rem;

      &:first-child {
        margin-left: 0.2rem;
      }

      &:last-child {
        margin-right: 0.2rem;
      }

      &:hover {
        background-color: #777;
      }

      &.span {
        width: 49%;
      }
    }
  }
}

@media only screen and (min-width: 480px) {
  .calculator {
    width: 60%;
  }
}

@media only screen and (min-width: 768px) {
  .calculator {
    width: 40%;
  }
}

@media only screen and (min-width: 1200px) {
  .calculator {
    width: 30%;
  }
}
