.calculator {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding-bottom: 0.3rem;
  width: 94%;
  height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.calculator .calculator__display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 1rem 2rem 1rem;
  font-size: 4.5rem;
  background-color: #343b59;
  border: 0.1rem solid #314053;
  border-bottom: 0;
  color: #fff;
  height: 20vh;
  overflow: hidden;
  white-space: nowrap;
}

.calculator .calculator__function__keys--row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 7rem;
}

.calculator .calculator__function__keys--row .calculator__key {
  color: #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  font-size: 1.5rem;
  padding: 1.5rem;
  height: auto;
  width: 25%;
  background-color: #434d73;
  border-right: 0.1rem solid #314053;
  border-bottom: 0.1rem solid #314053;
}

.calculator .calculator__function__keys--row .calculator__key:first-child {
  border-left: 0.1rem solid #314053;
}

.calculator .calculator__function__keys--row .calculator__key:active {
  background-color: #da621e;
}

.calculator .calculator__function__keys--row .calculator__key--clear {
  width: 50%;
}

.calculator .calculator__function__keys--row .calculator__key--percentage, .calculator .calculator__function__keys--row .calculator__key--square-root, .calculator .calculator__function__keys--row .calculator__key--power, .calculator .calculator__function__keys--row .calculator__key--one-division, .calculator .calculator__function__keys--row .calculator__key--divide, .calculator .calculator__function__keys--row .calculator__key--times, .calculator .calculator__function__keys--row .calculator__key--minus, .calculator .calculator__function__keys--row .calculator__key--plus, .calculator .calculator__function__keys--row .calculator__key--plusminus, .calculator .calculator__function__keys--row .calculator__key--point, .calculator .calculator__function__keys--row .calculator__key--equal {
  background-color: #3e4669;
}

@media only screen and (min-width: 480px) {
  .calculator {
    width: 60%;
  }
}

@media only screen and (min-width: 768px) {
  .calculator {
    width: 40%;
  }
}

@media only screen and (min-width: 1200px) {
  .calculator {
    width: 20%;
    height: 50vh;
  }
}
/*# sourceMappingURL=calculator.css.map */