$background--color: #475179;
$background-hover--color: #da621e;

//----- calculator container
.calculator {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-bottom: 0.3rem;
  width: 94%;
  height: 70vh;
  display: flex;
  flex-direction: column;

  //----- display
  .calculator__display {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem 1rem 2rem 1rem;
    font-size: 4.5rem;
    background-color: darken($background--color, 10%);
    border: 0.1rem solid darken(#3b4c63, 5%);
    border-bottom: 0;
    color: #fff;
    height: 20vh;
    overflow: hidden;
    white-space: nowrap;
  }

  //----- functional keys
  .calculator__function__keys--row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 7rem;

    //----- single key
    .calculator__key {
      color: #ccc;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: bold;
      outline: none;
      cursor: pointer;
      font-size: 1.5rem;
      padding: 1.5rem;
      height: auto;
      width: 25%;
      background-color: darken($background--color, 2%);
      border-right: 0.1rem solid darken(#3b4c63, 5%);
      border-bottom: 0.1rem solid darken(#3b4c63, 5%);

      &:first-child {
        border-left: 0.1rem solid darken(#3b4c63, 5%);
      }

      &:active {
        background-color: $background-hover--color;
      }

      &--clear {
        width: 50%;
      }

      &--percentage,
      &--square-root,
      &--power,
      &--one-division,
      &--divide,
      &--times,
      &--minus,
      &--plus,
      &--plusminus,
      &--point,
      &--equal {
        background-color: darken($background--color, 5%);
      }
    }
  }
}

@media only screen and (min-width: 480px) {
  .calculator {
    width: 60%;
  }
}

@media only screen and (min-width: 768px) {
  .calculator {
    width: 40%;
  }
}

@media only screen and (min-width: 1200px) {
  .calculator {
    width: 20%;
    height: 50vh;
  }
}
