* {
  font-size: 10px;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  box-sizing: border-box;
  border: 0;
}

html {
  font-size: 10px;
}

body {
  overflow: hidden;
  background: #1488cc;
  background: -webkit-linear-gradient(to left, #2b32b2, #1488cc);
  background: linear-gradient(to left, #2b32b2, #1488cc);

  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 8rem;
  padding: 2rem;
  width: 100%;
}

.App-title {
  font-size: 3rem;
  color: #13b1fa;
  font-weight: bold;
}

button::-moz-focus-inner {
  border: 0;
}
